.m-footer{
  @include row;
  color: $white;
  a {
    color: $ltblue;
    text-decoration: none;
    &:hover{
    text-decoration: underline;
    }
  }
}

.footer-copy p{
  font-family: $base-font-family;
}

.footer-column {
  @include media($bp-tablet) {
    @include span-columns(3);
  }
}

.footer-fat-column {
 @include media($bp-tablet) {
   @include span-columns(6);
 }
}
