$text-color:        #333333;
$background-color:  #0000ff;

$white:             #fafafa;
$blue:              #49637c;
$ltblue:            #8facee;
$dkblue:            #24313e;

$grey:              #f0f0f0;
$dkgrey:            #999999;

$title:             #44647d;
$container:         #f0f0f0;
$background:        #49637c;
